<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

	<typeAliases>
        <typeAlias alias="Member" type="com.namyesol.tuesday.domain.member.Member" />
        <typeAlias alias="Post" type="com.namyesol.tuesday.domain.post.Post" />
        <typeAlias alias="Comment" type="com.namyesol.tuesday.domain.post.Comment" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="java.time.LocalDateTime" handler="com.namyesol.tuesday.infrastructure.mybatis.LocalDateTimeTypeHandler" />
    </typeHandlers>
</configuration>